body{background-color:#800020;
    color:cornsilk;
    padding: 300px;
    size: 300px 300px;
    text-align: center;}
    button{background-color:grey;
    color:maroon;
    size: 300px 300px;
    padding: 60px;}
    button:hover{background-color:#dea5a4;
    color:#4169e1;}